.classsbase-filter-main {
    width: 96%;
    background-color: rgb(214, 245, 245);
    border: 1px solid rgb(5, 164, 185);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    height: 70px;
  }
  .classsbase-filter-text{
    float: left;
    margin: 30px;
    color: rgb(5, 40, 61);
    font-family: 'Courier New', Courier, monospace;
  }
  .classsbase-select-filter-year{
    float: right ;
    margin: 20px;
    color:rgb(214, 245, 245);
    background-color: rgb(5, 40, 61);
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
  }
  .classsbase-select-filter-year:hover{
    background-color:rgb(169, 255, 255);
    color:rgb(5, 40, 61) ;
  }